* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family:
		"Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	width: 100vw;
	margin: 0 0 1em 0;
	z-index: 1000;
}

.header {
	background-color: rgb(49, 48, 46);
	text-align: center;
	font-family: "Trebuchet MS";
	color: whitesmoke;
	padding: 1%;
}

.aside {
	background-color: yellowgreen;
}

.body {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.button {
	padding: 1em;
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
	border-radius: 0.5rem;
	color: white;
	background-color: black;
	border-width: 0;
}

.fieldset {
	padding: 2em;
	width: 70%;
	height: 90%;
	text-align: center;
	border-radius: 1em;
	margin-top: 2em;
}

.form {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.input {
	margin-bottom: 1em;
	border-style: none none solid none;
}

.new_acc {
	width: 30%;
}

.form_wrapper {
	width: 60%;
	max-width: 600px;
}

.bg_img {
	background: url("../rsc/background.png") no-repeat;
	background-size: cover;
}
